apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: gzaj
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: gzaj
    app.kubernetes.io/part-of: byoc-app-zots
  name: gzaj
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: gzaj
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: gzaj
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/byoc-dfxp-tenant/byoc-app-zots/gzaj@sha256:e6ef13afaacdc100ba37a986a9791057d19e5e7b67505016ec83469eb075b970
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
